#outer{
    border: 2px solid navy;
}
#outer1{
    border: 2px solid olive;
    
}
#outer2{
    border: 2px solid crimson;
}

.panel-primary{
    background-color: navy;
}

.panel-secondary{
    background-color: olive;
}
.panel-error{
    background-color: crimson;
}

.btn-primary:hover{
    background-color: rgb( 32, 64, 255 );
}
.btn-primary:active {
        background-color: rgb( 0, 16, 240 );
}

.btn-secondary:hover{
    background-color: rgb(248, 248, 21);
}

.btn-secondary:active{
    background-color: rgb(78, 78, 0);
}
.btn-error:hover {
        background-color: rgb( 255, 64, 32 );
}

.btn-error:active {
        background-color: rgb( 192, 16, 0 );
}